h1, h2, h3, h4, h5, h6 {
    text-align:center;
    color: #000000; 
}

body{
    background-color: #B3C7F7;
}

#fill {
    display: block;
    margin: auto;
}

fieldset {
    text-align: center;
    color:#000000;
}